/* BASIC PAGE STYLING */

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  cursor: default;

  /*
  Using Base16 Tomorrow Night colors:
  https://github.com/chriskempson/base16-tomorrow-scheme/blob/master/tomorrow-night.yaml
  */
  --base-00: #1d1f21;
  --base-01: #282a2e;
  --base-02: #373b41;
  --base-03: #969896;
  --base-04: #b4b7b4;
  --base-05: #c5c8c6;
  --base-06: #e0e0e0;
  --base-07: #ffffff;
  --base-08: #cc6666;
  --base-09: #de935f;
  --base-0a: #f0c674;
  --base-0b: #b5bd68;
  --base-0c: #8abeb7;
  --base-0d: #81a2be;
  --base-0e: #b294bb;
  --base-0f: #a3685a;
  --base-0102: #303338;
  --base-0203: #676a6c;

  --transition-time: 0.15s;
  --radius: 0.25em;
}

@media (max-width: 1400px) {
  html {
    font-size: 14px;
  }
}

body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--base-0102);
  color: var(--base-06);
}

body > * {
  padding: 20px;
}

@media (max-width: 1400px) {
  body > * {
    padding: 15px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

p {
  margin-top: 0;
  margin-bottom: 0.7em;
}

a {
  color: var(--base-0d);
}

a:visited {
  color: var(--base-0e);
}

/* COMPONENT STYLING */

/* Dropdown component. */

select {
  appearance: none;
  font: inherit;
  color: inherit;
  background-color: var(--base-00);
  /* Icon source: https://fontawesome.com/icons/chevron-down?style=solid. */
  /* base06 */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="%23e0e0e0" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path></svg>');
  background-repeat: no-repeat;
  background-position: right 0.4em top 50%;
  background-size: auto 50%;
  border: 0;
  border-radius: var(--radius);
  padding: 0.15em 1.5em 0.3em 0.4em;
  text-overflow: ellipsis;
  transition: all var(--transition-time);
}

select:active,
select:hover {
  box-shadow: 0.03em 0.125em 0.3em 0.03em var(--base-00);
}

select:hover {
  background-color: var(--base-0203);
}

select:focus {
  outline: none;
}

/* Checkbox component. */

.checkbox {
  display: flex;
  column-gap: 0.25em;
  justify-items: left;
  align-items: center;
}

.checkbox input {
  appearance: none;
  -webkit-appearance: none;
  width: 1.2em;
  height: 1.2em;
  background-color: var(--base-00);
  border: 0;
  border-radius: var(--radius);
  padding: 0;
  margin: 0.25em;
  flex-grow: 0;
  flex-shrink: 0;
  transition: background-color var(--transition-time),
    box-shadow var(--transition-time);
}

.checkbox input:hover {
  box-shadow: 0.03em 0.125em 0.3em 0.03em var(--base-00);
  background-color: var(--base-0203);
}

.checkbox input:focus {
  outline: none;
}

.checkbox input:checked {
  /* Icon source: https://fontawesome.com/icons/check?style=solid. */
  /* base06 */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23e0e0e0" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg>');
  background-repeat: no-repeat;
  background-size: 75% auto;
  background-position: 50% 60%;
}

/* Tooltips. */

.tooltip {
  position: relative;
  text-decoration: dotted underline;
  transition: text-decoration var(--transition-time);
  cursor: help;
}

.tooltip .description {
  --computed-width: min(240px, 80vw);
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  font-size: 0.85rem;
  text-align: center;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  width: var(--computed-width);
  margin-left: calc(-0.5 * var(--computed-width));
  padding: 0.3em 0.8em;
  border-radius: var(--radius);
  background-color: var(--base-0203);
  box-shadow: 0 0.25rem 1.5rem 0.25rem var(--base-00);
  transition: visibility var(--transition-time),
    opacity var(--transition-time) 0.5s;
}

.tooltip:hover .description:not(:hover) {
  visibility: visible;
  opacity: 1;
}

/* Tab bar. */

.tab-bar {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-evenly safe;
  flex-wrap: wrap;
  padding: 0.3em;
  margin-bottom: 0.75em;
  background-color: var(--base-00);
  border-radius: calc(1.4 * var(--radius));
}

.tab-bar input {
  appearance: none;
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
  flex: 1 0 auto;
  font-size: 1em;
  font-family: inherit;
  border-radius: var(--radius);
  transition: all var(--transition-time);
}

.tab-bar input::after {
  box-sizing: border-box;
  display: block;
  content: attr(label_text_);
  font-size: inherit;
  font-family: inherit;
  padding: 0.1em 0.5em 0.15em 0.5em;
  width: 100%;
  text-align: center;
  color: var(--base-06);
}

.tab-bar input:hover {
  background-color: var(--base-02);
}

.tab-bar input:checked {
  background-color: var(--base-0203);
}

/* UI STYLING */

/* Pointillist display. */

main {
  box-sizing: border-box;
  height: 100vh;
  flex: 2 1 50vh;
}

@media (orientation: portrait) {
  main {
    height: 100vw;
  }
}

.visualization#pointillist {
  width: 100%;
  height: 100%;
}

/* Sidebar. */

/* Note that scrolling is managed by JS in `index.html`. */
aside {
  box-sizing: border-box;
  flex: 1 0 20rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

aside > :first-child {
  margin-top: 0.2em;
}

footer {
  margin-top: 40px;
  width: 100%;
  align-items: right;
}

footer p {
  text-align: right;
  font-size: 0.8rem;
}

/* Controls. */

#controls table {
  width: 100%;
  border-spacing: 0;
  max-width: 500px;
  margin: auto;
}

#controls tr:first-child td {
  padding-top: 0;
}

#controls tr:last-child td {
  padding-bottom: 0;
}

#controls td {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

#controls td + td {
  padding-left: 0.5em;
}

#controls td:first-child {
  text-align: right;
}

#controls td:last-child {
  text-align: left;
}

#controls select {
  width: 100%;
}

#controls input {
  margin-top: 0;
  margin-bottom: 0;
}

/* Supplemental display. */

.visualization#supplemental {
  padding: 10px;
  flex: 1 0 350px;
}
