/* BASIC PAGE STYLING */

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  cursor: default;

  /*
  Using Base16 Tomorrow Night colors:
  https://github.com/chriskempson/base16-tomorrow-scheme/blob/master/tomorrow-night.yaml
  */
  --base-00: #1d1f21;
  --base-01: #282a2e;
  --base-02: #373b41;
  --base-03: #969896;
  --base-04: #b4b7b4;
  --base-05: #c5c8c6;
  --base-06: #e0e0e0;
  --base-07: #ffffff;
  --base-08: #cc6666;
  --base-09: #de935f;
  --base-0a: #f0c674;
  --base-0b: #b5bd68;
  --base-0c: #8abeb7;
  --base-0d: #81a2be;
  --base-0e: #b294bb;
  --base-0f: #a3685a;
  --base-0102: #303338;
  --base-02020203: #4f5256;
  --base-0203: #676a6c;
  --base-0304: #a5a8a5;
  --base-00-semitransparent: #1d1f2199;

  --transition-time: 0.15s;
  --radius: 0.25em;
  --shadow: 0.03em 0.125em 0.3em 0.03em var(--base-00);
}

@media (max-width: 1400px) {
  html {
    font-size: 14px;
  }
}

/* Force 16px font on iOS devices. Otherwise they will zoom in when a `select` is activated. */
@supports (-webkit-overflow-scrolling: touch) {
  html {
    font-size: 16px;
  }
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--base-0102);
  color: var(--base-06);
  overflow: hidden;
}

body.vertical-layout {
  overflow-y: auto;
}

body > * {
  padding: 25px;
}

@media (max-width: 1400px) {
  body > * {
    padding: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.55rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.1rem;
}

p,
ul {
  margin-top: 0;
  margin-bottom: 0.7em;
}

ul ul {
  margin-bottom: 0;
}

a {
  color: var(--base-0d);
}

a:visited {
  color: var(--base-0e);
}

img {
  max-width: 100%;
}

/* COMPONENT STYLING */

/* Dropdown component. */

select {
  -webkit-appearance: none;
  appearance: none;
  font: inherit;
  color: var(--base-06);
  background-color: var(--base-00);
  /* Icon source: https://fontawesome.com/icons/chevron-down?style=solid. */
  /* base06 */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="%23e0e0e0" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path></svg>');
  background-repeat: no-repeat;
  background-position: right 0.5em top 50%;
  background-size: auto 50%;
  border: 0;
  border-radius: var(--radius);
  padding: 0.15em 1.8em 0.3em 0.5em;
  text-overflow: ellipsis;
  transition: all var(--transition-time);
}

select:active,
select:hover {
  box-shadow: var(--shadow);
}

select:hover {
  background-color: var(--base-0203);
}

select:active {
  background-color: var(--base-02020203);
}

select:focus {
  outline: none;
}

/* Checkbox component. */

.checkbox {
  display: flex;
  column-gap: 0.25em;
  justify-items: left;
  align-items: center;
}

.checkbox input {
  -webkit-appearance: none;
  appearance: none;
  font: inherit; /* Fix sizing on iOS. */
  width: 1.2em;
  height: 1.2em;
  padding: 0;
  margin: 0.25em;
  flex: 0 0 auto;
  background-color: var(--base-00);
  border: 0;
  border-radius: var(--radius);
  transition: background-color var(--transition-time),
    box-shadow var(--transition-time);
}

.checkbox input:hover {
  box-shadow: var(--shadow);
  background-color: var(--base-0203);
}

.checkbox:active input,
.checkbox input:active {
  background-color: var(--base-02020203);
}

.checkbox input:focus {
  outline: none;
}

.checkbox input:checked {
  /* Icon source: https://fontawesome.com/icons/check?style=solid. */
  /* base06 */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23e0e0e0" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg>');
  background-repeat: no-repeat;
  background-size: 75% auto;
  background-position: 50% 60%;
}

/* Tab bar component. */

.tab-bar {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0.25em;
  margin-bottom: 0.75em;
  background-color: var(--base-00);
  border-radius: calc(1.4 * var(--radius));
}

.tab-bar input {
  -webkit-appearance: none;
  appearance: none;
  width: unset;
  height: unset;
  padding: 0;
  margin: 0;
  flex: 1 0 auto;
  font-size: 1em;
  font-family: inherit;
  border: none;
  border-radius: var(--radius);
  transition: all var(--transition-time);
}

.tab-bar input::after {
  box-sizing: border-box;
  display: block;
  content: attr(label_text_);
  font-size: inherit;
  font-family: inherit;
  padding: 0.1em 0.5em 0.18em 0.5em;
  width: 100%;
  text-align: center;
  color: var(--base-06);
  transition: all var(--transition-time);
}

.tab-bar input:hover {
  background-color: var(--base-02);
}

.tab-bar input:active,
.tab-bar input:checked {
  background-color: var(--base-0203);
}

.tab-bar input:focus {
  outline: none;
}

.tab-bar input:active::after {
  color: var(--base-05);
}

/* Tooltips. */

.tooltip {
  position: relative;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
  text-decoration-style: dotted;
  transition: text-decoration var(--transition-time);
  cursor: help;
}

.tooltip .description {
  box-sizing: border-box;
  --width: min(15rem, 80vw);
  visibility: hidden;
  opacity: 0;
  font-size: 0.85rem;
  text-align: center;
  position: absolute;
  bottom: calc(100% + 0.5em);
  left: 50%;
  width: var(--width);
  margin-left: calc(-0.5 * var(--width));
  padding: 0.5em 0.8em;
  border-radius: var(--radius);
  background-color: var(--base-0203);
  box-shadow: 0 0.25rem 1.5rem 0.25rem var(--base-00);
  transition: visibility var(--transition-time),
    opacity var(--transition-time) 0.5s;
}

.tooltip:hover .description:not(:hover) {
  visibility: visible;
  opacity: 1;
}

/* Slider component. */

.slider {
  display: flex;
}

.slider-label {
  margin: 0 0 0 0.6rem;
  flex-shrink: 0;
  text-align: right;
}

.slider input[type="range"] {
  -webkit-appearance: none;
  margin: 0;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 50px;
  background: transparent;
}

.slider input[type="range"]:focus {
  outline: none;
}

.slider input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  background: var(--base-00);
  cursor: default;
}

.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.8em;
  width: 0.8em;
  margin-top: -0.65em; /* (thumb height - slider height) / 2 WHAT */
  border-radius: 0.4em;
  border: none;
  background: var(--base-03);
  transition: all var(--transition-time);
}

.slider input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: var(--shadow);
  background: var(--base-0203);
}

.slider input[type="range"]::-moz-range-track {
  width: 100%;
  height: 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  background: var(--base-00);
  cursor: default;
}

.slider input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 1.8em;
  width: 0.8em;
  margin-top: -0.65em; /* (thumb height - slider height) / 2 WHAT */
  border-radius: 0.4em;
  border: none;
  background: var(--base-03);
  transition: all var(--transition-time);
}

.slider input[type="range"]::-moz-range-thumb:hover {
  box-shadow: var(--shadow);
  background: var(--base-0203);
}

.slider input[type="range"]::-moz-range-thumb:focus {
  outline: none;
}

/* Button component. */

.button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0.15em 0.6em 0.3em 0.6em;
  background-color: var(--base-00);
  border: 0;
  border-radius: var(--radius);
  color: var(--base-06);
  font: inherit;
  transition: var(--transition-time);
}

.button:hover:enabled {
  background-color: var(--base-0203);
  box-shadow: var(--shadow);
}

.button:active:enabled {
  background-color: var(--base-02020203);
  color: var(--base-05);
}

.button:disabled {
  background-color: var(--base-01);
  color: var(--base-04);
}

.button:hover:disabled {
  background-color: var(--base-02);
}

.button:active:disabled {
  color: var(--base-0304);
}

/* Popup windows. */

.window-button {
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  background-color: var(--base-00);
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  font-size: 20px;
  transition: var(--transition-time);
  display: flex;
  align-items: center;
  justify-content: center;
}

.window-button:hover {
  background-color: var(--base-0203);
  box-shadow: var(--shadow);
}

.window-button:active {
  background-color: var(--base-02020203);
}

.window-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: var(--base-00-semitransparent);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: visibility var(--transition-time), opacity var(--transition-time);
}

.window-bg[window_vis_="hidden"] {
  visibility: hidden;
  opacity: 0;
}

.window-bg[window_vis_="visible"] {
  visibility: visible;
  opacity: 1;
}

.window-container {
  box-sizing: border-box;
  position: relative;
  --height: 85%;
  width: min(90%, 55em);
  min-height: min(var(--height), 350px);
  max-height: var(--height);
  display: flex;
  flex-direction: column;
  padding: 0 3rem 3rem 3rem;
  background-color: var(--base-0102);
  border-radius: calc(var(--radius) * 4);
  box-shadow: 5px 15px 40px 20px var(--base-00);
}

.window-header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: -1em;
}

@media (max-width: 800px) {
  .window-container {
    padding: 0 2rem 2rem 2rem;
  }

  .window-header {
    margin-right: 0;
  }
}

.window-close-button {
  /* base06 */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><path fill="%23e0e0e0" d="M 0.99609375 0 A 1.0000001 1.0000001 0 0 0 0.29492188 0.29492188 A 1.0000001 1.0000001 0 0 0 0.29492188 1.7050781 L 4.5859375 6 L 0.29492188 10.291016 A 1.0000001 1.0000001 0 0 0 0.29492188 11.707031 A 1.0000001 1.0000001 0 0 0 1.7050781 11.707031 L 6 7.4121094 L 10.291016 11.707031 A 1.0000001 1.0000001 0 0 0 11.707031 11.707031 A 1.0000001 1.0000001 0 0 0 11.707031 10.291016 L 7.4121094 6 L 11.707031 1.7050781 A 1.0000001 1.0000001 0 0 0 11.707031 0.29492188 A 1.0000001 1.0000001 0 0 0 10.291016 0.29492188 L 6 4.5859375 L 1.7050781 0.29492188 A 1.0000001 1.0000001 0 0 0 0.99609375 0 z "/></svg>');
  background-repeat: no-repeat;
  background-size: 12px auto;
  background-position: center;
}

.window-content {
  width: 100%;
  overflow-y: auto;
}

/*
This class is added and removed dynamically (see `components/window.rs`).
Disable scroll in the body if there is a window overlaid.
Note that disabling scroll is *intentionally* not implemented on iOS (WTF Apple!!) if the address
bar is collapsed; see https://bugs.webkit.org/show_bug.cgi?id=153852#c34.
*/
body.window-open {
  overflow: hidden;
}

/* UI STYLING */

/* Pointillist display. */

main {
  box-sizing: border-box;
  height: 100%;
  flex: 2 1 50vh;
  background-color: var(--base-01);
}

.vertical-layout main {
  height: min(120vw, 60vh);
}

#pointillist {
  width: 100%;
  height: 100%;
}

/* Sidebar. */

#sidebar {
  box-sizing: border-box;
  max-height: 100%;
  flex: 1 1 20rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: auto;
}

/* This class is added and removed dynamically (see `main.rs`). */
.vertical-layout #sidebar {
  overflow-y: unset;
  max-height: unset;
}

#title-and-help-btn {
  display: flex;
  justify-content: space-between;
}

#title-and-help-btn > h1 {
  margin-top: 0.2em;
}

#controls {
  -webkit-user-select: none;
  user-select: none;
}

#controls table {
  border-spacing: 0;
  margin: auto;
}

#controls tr:first-child td {
  padding-top: 0;
}

#controls tr:last-child td {
  padding-bottom: 0;
}

#controls td {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

#controls td:not(:first-child) {
  padding-left: 0.5em;
}

#controls td:first-child {
  text-align: right;
  width: 50%;
}

#controls td:last-child {
  text-align: left;
  width: 50%;
}

#controls select {
  width: 100%;
}

#controls input {
  margin-top: 0;
  margin-bottom: 0;
}

#id-slider>.slider-label {
  width: 3.25em;
}

#supplemental-panel {
  display: contents;
}

#supplemental-title {
  display: flex;
  align-items: baseline;
  gap: 0.8em;
}

#supplemental-maximize-btn {
  /* base06 */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><path fill="%23e0e0e0" d="M 6.9980469 0 A 1.0000006 1.0000006 0 0 0 6.0019531 0.99609375 A 1.0000006 1.0000006 0 0 0 6.9980469 2 L 8.5859375 2 L 6.2890625 4.296875 A 1.0000006 1.0000006 0 0 0 6.2890625 5.7070312 A 1.0000006 1.0000006 0 0 0 7.7070312 5.7070312 L 10.001953 3.4101562 L 10.001953 4.9980469 A 1.0000006 1.0000006 0 0 0 10.998047 6.0019531 A 1.0000006 1.0000006 0 0 0 12.003906 4.9980469 L 12.003906 0.99609375 A 1.0001006 1.0001006 0 0 0 11.738281 0.32617188 A 1.0001006 1.0001006 0 0 0 11.152344 0.01171875 A 1.0001006 1.0001006 0 0 0 11.130859 0.0078125 A 1.0000006 1.0000006 0 0 0 11.128906 0.0078125 A 1.0001006 1.0001006 0 0 0 10.998047 0 L 6.9980469 0 z M 0.99609375 6.0019531 A 1.0000006 1.0000006 0 0 0 0 6.9980469 L 0 10.998047 A 1.0001006 1.0001006 0 0 0 0.99609375 12.003906 L 4.9980469 12.003906 A 1.0000006 1.0000006 0 0 0 6.0019531 10.998047 A 1.0000006 1.0000006 0 0 0 4.9980469 10.001953 L 3.4101562 10.001953 L 5.7070312 7.7070312 A 1.0000006 1.0000006 0 0 0 5.7070312 6.2890625 A 1.0000006 1.0000006 0 0 0 4.9980469 6.0019531 A 1.0000006 1.0000006 0 0 0 4.296875 6.2890625 L 2 8.5859375 L 2 6.9980469 A 1.0000006 1.0000006 0 0 0 0.99609375 6.0019531 z"/></svg>');
  background-repeat: no-repeat;
  background-size: 12px auto;
  background-position: center;
}

#supplemental-content {
  display: contents;
}

#supplemental-placeholder {
  flex-shrink: 0;
  background-color: var(--base-01);
  outline: 1px solid var(--base-0203);
  outline-offset: -1px;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    135deg,
    var(--base-0203) 0,
    var(--base-0203) 1px,
    var(--base-01) 0,
    var(--base-01) 50%
  );
}

#supplemental {
  padding: 10px;
  flex: 1 0 400px;
  overflow: hidden;
}

#supplemental-fullscreen-window > .window-container {
  height: var(--height);
  width: min(90%, 1200px);
}

#supplemental-fullscreen-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-shrink: 0;
  font-size: 0.8rem;
}

footer > *:not(:first-child)::before {
  content: "|";
  margin-left: 0.4em;
  margin-right: 0.4em;
}

/* Help panel. */

#title-and-help-btn .raw > :first-child {
  margin-top: 0;
}
