/* Using Base16 Tomorrow Night colors:
https://github.com/chriskempson/base16-tomorrow-scheme/blob/master/tomorrow-night.yaml

base00: "1d1f21"
base01: "282a2e"
base02: "373b41"
base03: "969896"
base04: "b4b7b4"
base05: "c5c8c6"
base06: "e0e0e0"
base07: "ffffff"
base08: "cc6666"
base09: "de935f"
base0A: "f0c674"
base0B: "b5bd68"
base0C: "8abeb7"
base0D: "81a2be"
base0E: "b294bb"
base0F: "a3685a"
*/

/* BASIC PAGE STYLING */

html {
  font-size: 16px;
}

@media (max-width: 1400px) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  /* blend of base01 and base02 */
  background-color: #303338;
  /* base06 */
  color: #e0e0e0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

p {
  margin-top: 0;
  margin-bottom: 0.7em;
}

a {
  /* base0d */
  color: #81a2be;
}

a:visited {
  /* base0e */
  color: #b294bb;
}

/* COMPONENT STYLING */

/* Dropdown component. */

select {
  appearance: none;
  font: inherit;
  color: inherit;
  /* base00 */
  background-color: #1d1f21;
  /* Icon source: https://fontawesome.com/icons/chevron-down?style=solid. */
  /* base06 */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="%23e0e0e0" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path></svg>');
  background-repeat: no-repeat;
  background-position: right 0.4em top 50%;
  background-size: auto 50%;
  border: 0px;
  border-radius: 4px;
  padding: 0.15em 1.5em 0.3em 0.4em;
  transform: translateY(0.1em);
}

select:hover {
  /* blend of base02 and base03 */
  background-color: #676a6c;
}

select:active,
select:hover {
  /* base00 */
  box-shadow: 1px 1px 4px 1px #1d1f21;
}

select:focus {
  outline: none;
}

/* Checkbox component. */

.checkbox {
  display: flex;
  column-gap: 0.25em;
  justify-items: left;
  align-items: center;
}

.checkbox input {
  appearance: none;
  width: 1.2em;
  height: 1.2em;
  /* base00 */
  background-color: #1d1f21;
  border: 0px;
  border-radius: 4px;
  padding: 0;
  margin: 0.25em;
  flex-grow: 0;
  flex-shrink: 0;
}

.checkbox input:hover {
  /* blend of base02 and base03 */
  background-color: #676a6c;
  /* base00 */
  box-shadow: 1px 1px 4px 1px #1d1f21;
}

.checkbox input:focus {
  outline: none;
}

.checkbox input:checked {
  /* Icon source: https://fontawesome.com/icons/check?style=solid. */
  /* base06 */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23e0e0e0" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg>');
  background-repeat: no-repeat;
  background-size: 75% auto;
  background-position: 50% 60%;
}

/* Controls component. */

#controls table {
  width: 100%;
  border-spacing: 0;
  max-width: 500px;
  margin: auto;
}

#controls tr:first-child td {
  padding-top: 0;
}

#controls tr:last-child td {
  padding-bottom: 0;
}

#controls td {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

#controls td + td {
  padding-left: 0.5em;
}

#controls td:first-child {
  text-align: right;
}

#controls td:last-child {
  text-align: left;
}

#controls select {
  width: 100%;
}

#controls input {
  margin-top: 0;
  margin-bottom: 0;
}

/* UI STYLING */

/* Pointillist display. */

main {
  box-sizing: border-box;
  padding: 20px;
  height: 100vh;
  flex: 2 1 50vh;
}

@media (orientation: portrait) {
  main {
    height: 100vw;
  }
}

@media (max-width: 1400px) {
  main {
    padding: 15px;
  }
}

#pointillist {
  width: 100%;
  height: 100%;
}

/* Sidebar. */

aside {
  box-sizing: border-box;
  margin: 20px;
  flex: 1 0 20rem;
}

@media (max-width: 1400px) {
  aside {
    margin: 15px;
  }
}

aside > :first-child {
  margin-top: 0.2em;
}

footer {
  margin-top: 40px;
  width: 100%;
  align-items: right;
}

footer p {
  text-align: right;
  font-size: 0.8rem;
}
